---
import Layout from "../layouts/Layout.astro";
import { getProducts } from "../utils/contentful";
import PlantShop from "../components/PlantShop";

const products = await getProducts();
---

<Layout title="Our Shop">
  <h3 class="md:px-4 py-2 font-extrabold font-Quicksand_B text-base text-center text-[#eadfcb]">
    OUR SHOP
  </h3>

  <div class="products-container">
    {products.map((product) => (
      <PlantShop 
        title={typeof product.title === 'string' ? product.title : ""}
        img={product.images.length > 0 ? product.images[0] : ""}
        price={typeof product.price === 'number' ? product.price.toFixed(2) : "0.00"}
        inStock={product.inStock}
      />
    ))}
  </div>
</Layout>

<style>
  /* Dark brown background */
  body {
    background-color: #4e3d34;
  }

  .products-container {
    display: block;
    margin-bottom: 1rem;
  }

  @media (min-width: 760px) {
    .products-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      margin-bottom: 1rem;
    }
  }
</style>
