---
import "../global.css";
interface Props {
  title: string;
}
import Nav from "../components/Nav";
import Footer from "../components/Footer";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Art projects mostly"
    />
    <meta name="viewport" content="width=device-width" />
     <!-- ✅ Updated Favicons -->
     <link rel="icon" href="/favicon-tight.ico" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-tight-32.png" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white w-full overflow-x-hidden">
    <main class="w-full min-h-screen">
      <Nav client:load />
      <slot />
      <Footer />
    </main>
  </body>
</html>
